@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Machine Details</h1>
<div class="card">
  <h3 class="titles">@Html.DisplayFor(model => model.MachineName)</h3>
  <p>@Html.DisplayNameFor(model => model.Description):<br> @Html.DisplayFor(model => model.Description)</p>
</div>

<h3>Assigned Engineers</h3>
@if(@Model.JoinEntities.Count == 0)
{
  <p>No Engineers Assigned</p>
}
else 
{
  <table class="table2 table-bordered table-striped">
    @foreach(var join in Model.JoinEntities)
    {
      <tr>
        <td>
          @Html.ActionLink($"{join.Engineer.EngineerName}", "Details", "Engineers", new{id = join.Engineer.EngineerId})
        </td>
        <td style="width:10%">
          @using (Html.BeginForm("DeleteEngineer", "Courses"))
          {
            @Html.Hidden("joinId", @join.EngineerMachinesId)
            @Html.Hidden("id", @Model.MachineId)
            <input type="submit" value="Remove Engineer"class="btn btn-warning"/>
          }
        </td>
      </tr>
    }
  </table>
}
<br>
<h4>@Html.ActionLink("Add an Engineer", "AddEngineer", new{id = Model.MachineId})</h4>
<h4>@Html.ActionLink("Edit Machine Details", "Edit", new{id = Model.MachineId})</h4>
<h4>@Html.ActionLink("Delete Machine", "Delete", new{id = Model.MachineId})</h4>