@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1>Edit @Model.MachineName</h1>

<div class="card">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.MachineName)
    <br>
    @Html.EditorFor(model => model.MachineName)
    <br><br>
    @Html.LabelFor(model => model.Description)
    <br>
    @Html.EditorFor(model => model.Description)
    <br><br>
    <input type="submit" value="Save" class="btn btn-danger"/>
  }
</div>

<p>@Html.ActionLink("Return to Machine List", "Index")</p>