@{
  Layout="_Layout";
}

@model Factory.Models.Engineer

<div class="card">
  <h1>@Model.EngineerName : Assign a Machine</h1>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)
    @Html.Label("Add a Machine")
    <br>
    @Html.DropDownList("MachineId")
    <br>
    <br>
    <input type="submit" value="Assign Machine" class="btn btn-danger"/>
  }
</div>
<br>
<h3>Current Machine Assignments:</h3>
<table class="table2 table-bordered table-striped">
    @foreach(var join in Model.JoinEntities)
    {
      <tr>
        <td style="width:90%">
          @Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machines", new{id = join.Machine.MachineId})
        </td>
        <td style="width:10%">
          @using (Html.BeginForm("DeleteMachine", "Engineers"))
          {
            @Html.Hidden("joinId", @join.EngineerMachinesId)
            @Html.Hidden("id", @Model.EngineerId)
            <input type="submit" value="Remove Machine" class="btn btn-warning"/>
          }
        </td>
      </tr>
    }
  </table>
<br>
<h4 class="h4">@Html.ActionLink("Return to Engineer Page", "Details", "Engineers", new{id = @Model.EngineerId})</h4>