@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h1>Edit @Model.EngineerName</h1>

<div class="card">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.LabelFor(model => model.EngineerName)
    <br>
    @Html.EditorFor(model => model.EngineerName)
    <br><br>
    @Html.LabelFor(model => model.Description)
    <br>
    @Html.EditorFor(model => model.Description)
    <br><br>
    <input type="submit" value="Save" class="btn btn-danger"/>
  }
</div>

<p>@Html.ActionLink("Return to Engineer List", "Index")</p>