@{
  Layout = "_Layout";
}

@using Factory.Models;
@model dynamic;

<h1>MACHINE REPAIRS</h1>
@if(@Model.Engineer.Count == 0 && @Model.Machine.Count == 0)
{
  <br>
  <p>No Engineers or Machines logged.</p>
}
else
{
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th>Current Machines</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var machine in Model.Machine)
          {
          <tr>
              <td class="items">@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new{id = machine.MachineId, @class="items"})</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th>Current Engineers</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var engineer in Model.Engineer)
          {
          <tr>
              <td class="items">@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new{id = engineer.EngineerId, @class="items"})</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
<br>
<h4 class="h4">@Html.ActionLink("View All Machines", "Index", "Machines")</h4>
<br>
<h4 class="h4">@Html.ActionLink("View All Engineers", "Index", "Engineers")</h4>