@{
  Layout = "_Layout";
}

@using Factory.Models;
@model dynamic;

@if(@Model.Engineer.Count == 0 && @Model.Machine.Count == 0)
{
  <br>
  <p>No Engineers or Machines logged.</p>
}
else
{
  <table class="table1">
    <thead>
      <tr>
          <th>Current Machines</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var machine in Model.Machine)
      {
      <tr>
          <td>@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new{id = machine.MachineId})</td>
      </tr>
      }
    </tbody>
  </table>

  <table class="table2">
    <thead>
      <tr>
          <th>Current Engineers</th>
      </tr>
    </thead>
    <tbody>
      @foreach(var engineer in Model.Engineer)
      {
      <tr>
          <td>@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new{id = engineer.EngineerId})</td>
      </tr>
      }
    </tbody>
  </table>
}
<br>
<h4>@Html.ActionLink("View All Machines", "Index", "Machines")</h4>
<br>
<h4>@Html.ActionLink("View All Engineers", "Index", "Engineers")</h4>